@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #111833;
  --foreground: #cabcbc;
}

/* Remove input-specific styles to allow Tailwind classes to work properly */

* {
  border-color: hsl(var(--border));
}

body {
  color: var(--foreground);
  background: var(--background);
  font-feature-settings: "rlig" 1, "calt" 1;
  transition: all 0.2s ease-in-out;
}

html {
  scroll-behavior: smooth;
}
